/*CSS Vars*/
:root{
    --transition: 0.5s ease-in;
    --prmColor: #f2a455;
    --secColor: #090b36;
}

html{
    scroll-behavior: smooth;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--transition);
  }

ul li {
    list-style-type: none;
}

nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #menu{
    display: flex;
    align-items: center;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--prmColor);
    background-color: var(--secColor);
  }

  .navItem:hover{
    color: var(--secColor);
    background-color: var(--prmColor);
  }